<div class="row">
  <div class="col s6 offset-s3">
    <div class="card">
      <div class="card-contend">
        <div class="row">
          <div class="col s12">
            <img src="/assets/images/quiz-questions.jpg" class="offset-s3 center-element" />
          </div>
        </div>
        <form #initializationForm="ngForm" (ngSubmit)="onFormSubmit(initializationForm)">
          <div class="row">
            <div class="col s6">
              <h4>Select Quiz Category</h4>
            </div>
            <div class="col s6">
              <h4>Select Quiz Difficulty</h4>
            </div>
          </div>
          <div class="row">
            <div class="col s6">
              <p>
                <label>
                  <input class="with-gap" name="categories" value="11" type="radio" ngModel required />
                  <span>Films</span>
                </label>
              </p>
              <p>
                <label>
                  <input class="with-gap" name="categories" value="12" type="radio" ngModel required />
                  <span>Music</span>
                </label>
              </p>
              <p>
                <label>
                  <input class="with-gap" name="categories" value="23" type="radio" ngModel required />
                  <span>History</span>
                </label>
              </p>
              <p>
                <label>
                  <input class="with-gap" name="categories" value="21" type="radio" ngModel required />
                  <span>Sports</span>
                </label>
              </p>
              <p>
                <label>
                  <input class="with-gap" name="categories" value="18" type="radio" ngModel required />
                  <span>Computers</span>
                </label>
              </p>
            </div>
            <div class="col s6">
              <p>
                <label>
                  <input class="with-gap" name="difficulty" value="easy" type="radio" ngModel required />
                  <span>Easy</span>
                </label>
              </p>
              <p>
                <label>
                  <input class="with-gap" name="difficulty" value="medium" type="radio" ngModel required />
                  <span>Medium</span>
                </label>
              </p>
              <p>
                <label>
                  <input class="with-gap" name="difficulty" value="hard" type="radio" ngModel required />
                  <span>Hard</span>
                </label>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              <div *ngIf="isValidFormSubmitted && initializationForm.invalid">
                <p>Please select either value</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <button class="btn-large btn-submit" type="submit">
                Start Quiz
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>